#tile-hud .multiface-tiles.image-box {
    display: flex;
    position: absolute;
    top: -3.5pc;
}
#tile-hud .multiface-tiles.control-box {
    display: flex;
    position: absolute;
}
#tile-hud .multiface-tiles.image-box img:hover {
    opacity: 1;
    transform: scale(2);
}
#multiface-tiles-alternative-image-remove {
    margin-top: 8px;
}
#multiface-tiles-alternative-image-1 {
    margin-top: 8px;
}
#multiface-tiles-alternative-image-add {
    margin-top: 8px;
}
